.practise{
    background-color: #F4F5F6;
}
.font{
   color: white;
    font-size: 85px;
    text-align: center;
    margin: auto;

    border: 1px solid #FE9C37;
    background-color: #FE9C37;
    border-radius: 50%;
    padding: 18px;
    margin-top: 5px;
}