.head{
    color: #102040;
}
.button{
    background-color: #102040;
    color: white;
  
    border-radius: 10px 10px 10px 10px;
font-size: 15px;
padding: 8px 28px;
}
.button:hover{
    background-color: #FE9C37;
}